h1{
  color:black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 28px;
}
body, html {
  background-image: url("/kuvat/taustakuva.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.harrastukset{
font-size: 20px;

}
